.reviewCarousel {
  display: flex;
  position: relative;

  .reviewDisplay {
    display: flex;
    width: 88%;

    .reviewBox {
      display: flex;
      position: relative;
      margin: 30px 100px 0px 0px;
      height: 420px;
      width: 90%;

      .reviewContentBox {
        position: absolute;
        padding-top: 30px;
        width: 350px;

        .reviewContentTitle {
          font-size: 25px;
          font-weight: bold;
        }

        .reviewContentText {
          width: 65%;
          padding-top: 30px;
          font-size: 25px;
        }
      }

      .reviewImgBox {
        .reviewImg {
          margin-left: 300px;
          height: 100%;
        }
      }
    }
  }
  .carouselBtns {
    position: absolute;
    bottom: 0px;
    font-size: 20px;

    .recommendBtn {
      border: none;
      background-color: white;
      font-size: 20px;
    }
  }
}
