@import '../../../../../styles/variables.scss';

.userfileimg {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

  .delete {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 70px;
    height: 32px;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    background-color: $mainColor;
    box-shadow: 0 0 6px 0 rgb(47 52 56 / 20%);
    border-radius: 5px;
    z-index: 50;

    &:hover {
      background-color: $mainDarkColor;
    }
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
  }
}
