.reviewCarousel {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 15%;
  height: 100%;
  margin-top: 30px;

  .reviewContentDisplay {
    position: relative;

    .reviewContentBox {
      position: absolute;
      left: 0;

      &.hidden {
        opacity: 0;
        transition: opacity 800ms ease-in-out;
      }

      &.active {
        opacity: 1;
        transition: opacity 800ms ease-in-out;
      }

      .reviewContentTitle {
        font-size: 25px;
        font-weight: bold;
      }

      .reviewContentText {
        margin-top: 30px;
        font-size: 25px;
      }
    }
  }

  .reviewImgDisplay {
    display: flex;
    width: 500%;
    overflow: hidden;

    .reviewImgBox {
      display: flex;
    }

    .reviewImgBox {
      padding-right: 50px;

      .reviewImg {
        width: 100%;
      }
    }
  }

  .carouselBtns {
    position: absolute;
    bottom: 0px;
    font-size: 20px;

    .recommendBtn {
      border: none;
      background-color: white;
      font-size: 20px;
    }
  }
}
