@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@mixin primaryFont {
  font-family: 'Nanum Gothic', sans-serif;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$mainColor: #fabf01;
$subColor: #231915;
