@mixin arrowBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ddd8d0;
  opacity: 60%;
}

.mainCarousel {
  position: relative;
  width: 100vw;
  height: 640px;

  .mainCarouselDisplay {
    display: flex;
    width: 100vw;
    height: 100%;

    .mainCarouselImg {
      width: 100%;
    }
  }

  .prevButton {
    @include arrowBtn();
    left: 10px;
    top: 50%;
  }

  .nextButton {
    @include arrowBtn();
    right: 10px;
    top: 50%;
  }
}
