.loginForm {
  width: 28.125rem;
  height: 35rem;
  border: none;
  text-align: center;
  margin: auto;
  border-radius: 0.125rem;
  margin-top: 8.5rem;

  .logIn {
    h2 {
      margin-top: 3.125rem;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 1.875rem;
    }
  }
}

a {
  text-decoration: none;
  color: #858585;
}

.userForm {
  margin: 3rem 0;

  input::placeholder {
    color: #e0e0e0;
  }
  .userName {
    text-align: left;
    margin: auto;
    width: 25rem;
    height: 3.75rem;
    background: white;
    border: 0.063rem solid gray;
    border-radius: 0.313rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: 0.063rem solid #fabf01;
      border-color: #fabf01;
    }
  }
  .password {
    text-align: left;
    margin: auto;
    width: 25rem;
    height: 3.75rem;
    margin-bottom: 0.625rem;
    background: white;
    border: 0.063rem solid gray;
    border-radius: 0.313rem;
    &:focus {
      outline: 0.063rem solid #fabf01;
      border-color: #fabf01;
    }
  }
}

.saveId {
  text-align: left;
  padding-left: 1.25rem;
  font-size: 1rem;
  input[type='checkbox'] {
    zoom: 1.5;
    accent-color: #fabf01;
  }
}

span {
  .isSaveIdCheck {
    display: flex;
    align-items: center;
  }
}

.footerText {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 0.85rem;
  li:nth-child(n + 2) {
    position: relative;
    margin-left: 1.25rem;
    padding-left: 1.563rem;
  }
  li:nth-child::after {
    position: absolute;
    left: 0;
    top: 0.094rem;
    content: '';
    width: 0.063rem;
    height: 0.938rem;
    background-color: #858585;
  }
}

.loginBtn {
  width: 25rem;
  height: 4.375rem;
  background: #fabf01;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;

  &:disabled {
    width: 25rem;
    height: 4.375rem;
    background: #eee;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
  }
}

input::placeholder {
  padding: 0.625rem;
}

a {
  text-decoration: none;
  color: black;
}
