@import '../../../../../styles/variables.scss';

.category {
  @include primaryFont;
  height: 130px;
  border-bottom: 1px solid #c4c4c4;

  .menuTitle {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 800;
    color: $subColor;
  }

  .menuNav {
    @include flexBetween;

    .flexLeft {
      @include flexBetween;
      font-size: 1.5em;

      .menuBtn {
        height: 50px;
        border: none;
        color: #6e6e6e;
        background: none;
        font-size: 1.1em;
        font-weight: 700;
      }

      .active {
        color: $subColor;
        border-bottom: 3px solid $subColor;
      }
    }

    .flexRight {
      width: 400px;
    }
  }
}
