@import '../../../styles/variables.scss';

.mainReview {
  position: relative;
  margin-top: 100px;
  width: 75%;
  height: 500px;
  overflow: hidden;

  .reviewTitle {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
  }

  .reviewAll {
    position: absolute;
    right: 0;
    top: 10px;

    button {
      @include primaryFont();
      font-size: 15px;
      font-weight: bold;
      border: none;
      background-color: white;
      cursor: pointer;
    }
  }
}
