.reviewCarousel {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-column-gap: 15%;
  height: 100%;
  margin-top: 30px;

  .reviewContentDisplay {
    position: relative;

    .reviewLink {
      color: inherit;

      .reviewContentBox {
        position: absolute;
        left: 0;

        &.hidden {
          opacity: 0;
          transition: opacity 800ms ease-in-out;
        }

        &.active {
          opacity: 1;
          transition: opacity 800ms ease-in-out;
        }

        .reviewContentTitle {
          font-size: 25px;
          font-weight: bold;
        }

        .reviewContentText {
          margin-top: 30px;
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  .reviewImgDisplay {
    display: flex;
    overflow: hidden;

    .reviewImgContainer {
      display: flex;
      width: 100%;
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 250px;
        height: 535px;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 100%
        );
      }

      .reviewImgBox {
        display: flex;
        width: 100%;
        height: 520px;
        .reviewImg {
          width: 50vw;
          object-fit: cover;
        }
      }
    }
  }

  .carouselBtns {
    position: absolute;
    bottom: 0px;
    font-size: 20px;

    .recommendBtn {
      border: none;
      background-color: white;
      font-size: 20px;
    }
  }
}
