@import '../../styles/variables.scss';

.review {
  @include primaryFont();
  width: 75%;
  margin: 0 auto;
  margin-top: 112px;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .scopeWarp {
    font-size: 1rem;

    .star {
      margin-right: 10px;
      font-size: 1.5rem;
      color: $mainColor;
    }
  }

  .reviewHeader {
    @include mainTitleSize();
    margin: 32px 0;
  }

  hr {
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 3px;
  }
}
