@import '../../styles/variables.scss';

@mixin positionCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@mixin formBtn {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  border-radius: 5px;
  background-color: $mainColor;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

@mixin formLabel {
  font-size: 16px;
  font-weight: 900;
}

$gray: #606060;

.review {
  @include primaryFont();
  width: 1000px;
  margin: 0 auto;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .starBox {
    font-size: 1rem;

    .star {
      margin-right: 10px;
      font-size: 1.5rem;
      color: $mainColor;
    }
  }

  .reviewHeader {
    font-size: 2rem;
    font-weight: 700;
    margin: 32px 0;
  }

  hr {
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 3px;
  }

  .bestReview {
    padding: 32px 0;

    .bestSilderWarp {
      display: flex;

      .reviewSilder {
        margin-right: 48px;

        .bestReviewImgBox {
          position: relative;
          width: 520px;
          height: 324px;
          overflow: hidden;

          .bestBg {
            position: absolute;
            top: 0;
            left: 30px;
            width: 66px;
            height: 66px;
            background-color: $mainColor;
            z-index: 50;
            opacity: 0.8;

            .bestTag {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              color: #fff;
              font-weight: 400;
            }
          }

          .bestReviewImg {
            @include positionCenter;
          }
        }
      }
    }

    .reviewTitle {
      margin: 10px 0;
      font-size: 32px;
      font-weight: 700;
    }

    .bestReviewDesc {
      margin: 32px 0;
      font-size: 12px;
      color: $gray;
      line-height: 1.5;
    }
  }

  .searchBox {
    @include flexCenter;
    padding: 32px;
    background-color: #f7f7f7;

    .searchForm {
      position: relative;

      .search {
        width: 514px;
        height: 60px;
        padding: 15px;
        border: 2px solid #000;
        border-radius: 5px;

        &::placeholder {
          font-size: 1.2em;
          font-weight: 700;
          line-height: 1.2;
          color: #000;
        }
      }

      .searchBtn {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
    }
  }

  .reviewList {
    .reviewListHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 56px 0 15px 0;

      .reviewSum {
        font-size: 22px;
        font-weight: 700;
      }

      .reviewListRight {
        .reviewAdd {
          font-size: 16px;

          .reviewAddDesc {
            margin-left: 10px;
          }
        }

        .revieWrite {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 100%;
          z-index: 100;
          background-color: rgba(0, 0, 0, 0.5);
          overflow-y: auto;

          &.show {
            display: block;
          }

          .reviewWriteWarp {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 760px;
            padding: 40px;
            border-radius: 5px;
            background-color: #fff;

            .reviewWriteHead {
              font-size: 20px;
              font-weight: 900;
              text-align: center;
              padding: 15px;
            }

            select {
              width: 100%;
              height: 64px;
              margin: 30px 0;
              padding: 15px;
              border-radius: 5px;

              option {
                font-size: 16px;
                padding: 10px;
              }
            }

            .reviewWriteForm {
              .reviewFileTitle {
                @include formLabel();
                margin-bottom: 15px;
              }

              .reviewFileDesc {
                font-size: 13px;
              }

              .reviewFileUplode {
                position: relative;
                @include formBtn();

                .reviewFileUplodeTitle {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  cursor: pointer;
                }

                .reviewFileUplodeInput {
                  width: 100%;
                  opacity: 0;
                  cursor: pointer;
                }
              }

              .review {
                width: 100%;

                label {
                  display: block;
                  @include formLabel();
                  margin-bottom: 15px;
                }

                textarea {
                  padding: 15px;
                  width: 100%;
                  height: 150px;
                  border: 1px solid #c0c6cc;
                  border-radius: 5px;
                  resize: none;

                  &::placeholder {
                    font-size: 16px;
                    font-weight: 600;
                    color: #c0c6cc;
                  }
                }
              }

              .reviewSubmitBtn {
                @include formBtn;
              }
            }

            details {
              padding: 20px;
              background-color: #f7f9fa;

              summary {
                @include formLabel();
              }

              .detailsDesc {
                margin-top: 10px;

                .detail {
                  font-size: 12px;
                  line-height: 1.2;
                  color: #2f3438;
                }
              }
            }
          }
        }
      }
    }

    .reviewListComponent {
      li {
        padding: 23px 0;
        border-bottom: 1px solid $gray;

        .reviewHead {
          display: flex;
          justify-content: space-between;

          .reviewMenu {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 12px;
          }
        }

        .starBox {
          margin-bottom: 20px;

          span {
            &:nth-child(2) {
              margin-right: 10px;
            }
          }
        }
        .reviewBoxWrap {
          display: flex;

          .reviewImgWrap {
            position: relative;
            width: 186px;
            height: 116px;
            overflow: hidden;
            background-color: #000;
            margin-right: 15px;

            img {
              @include positionCenter;
            }
          }

          .tipBox {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            margin-top: 10px;
            padding: 8px 10px;
            border-radius: 0 8px 8px 8px;
            background-color: #f7f7f7;

            .tipHead {
              margin-right: 10px;
            }
          }
        }
      }

      p {
        color: $gray;
        font-size: 14px;
      }
    }

    .pagination {
      text-align: center;
      margin: 50px;

      .pages {
        margin: 0 10px;

        button {
          width: 40px;
          height: 40px;
          font-size: 16px;
          font-weight: 700;

          &.current {
            color: #fff;
            background-color: #2f3438;
          }
        }
      }
    }
  }

  .topBtn {
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #2f3438;
    color: #fff;
    font-weight: 700;
  }
}
