@import '../../../../styles/variables.scss';

.searchBox {
  @include flexCenter;
  padding: 32px;
  background-color: #f7f7f7;

  .searchForm {
    position: relative;
    width: 60%;

    .search {
      width: 100%;
      height: 60px;
      padding: 15px;
      border: 2px solid #000;
      border-radius: 5px;

      &::placeholder {
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.2;
        color: #000;
      }
    }

    .searchBtn {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}
