@import '../../../styles/variables.scss';

.newProducts {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 100px;

  .newProductsTitle {
    font-size: 35px;
    font-weight: bold;
  }

  .newProductsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 35px;
    margin-top: 30px;

    .newProduct {
      cursor: pointer;

      .productImgBox {
        width: 100%;
        height: 350px;
        overflow: hidden;

        .productImg {
          width: 100%;
          height: 100%;
          transition: all 0.2s ease-out;

          &:hover {
            transform: scale(1.02);
          }
        }
      }

      .newProductContent {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;

        .newProductInfo {
          .productName {
            padding-bottom: 15px;
          }

          .productPrice {
            .productServings {
              font-size: 15px;
            }
          }
        }

        .productCart {
          width: 50px;
          height: 50px;
          border: none;
          border-radius: 50%;
          background-color: $mainColor;
          cursor: pointer;

          .cartIcon {
            font-size: 18px;
          }
        }
      }
    }
  }
}
