* {
  box-sizing: border-box;
}

.contentWrapper {
  margin-top: 50px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  header {
    font-size: 30px;
  }
}

.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idContent {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  font-size: 12px;
  .userId {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.nameContent {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .isUserName {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.passwordContent {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .userPassword {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.passwordCheckContent {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .userPasswordCheck {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.phoneNumber {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .userPhoneNumber {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.birth {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  .userBirth {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer {
  position: relative;
  font-size: 14px;
  right: 20px;
  margin-top: 20px;

  .terms {
    margin-bottom: 10px;
  }
  .agreeTerms {
    margin-bottom: 10px;
  }
  .agreeTerms2 {
    margin-bottom: 10px;
  }
  .agreeTerms3 {
    margin-bottom: 10px;
  }
  input[type='checkbox'] {
    zoom: 1.2;
    accent-color: #fabf01;
  }
}

.signupBtn {
  margin-top: 30px;
  .userSignUp {
    width: 400px;
    height: 40px;
    background: #fabf01;
    border: none;
    border-radius: 5px;
  }
}

a {
  text-decoration: none;
  color: black;
}
