* {
  box-sizing: border-box;
}

.contentWrapper {
  margin-top: 3.125rem;
  margin-left: 0 auto;
  margin-right: 0 auto;
  header {
    font-size: 1.875rem;
  }
}

.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idContent {
  display: flex;
  flex-direction: column;
  margin-top: 4.375rem;
  font-size: 0.75rem;
  .userId {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.nameContent {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  .isUserName {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.passwordContent {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  .userPassword {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.passwordCheckContent {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  .userPasswordCheck {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.phoneNumber {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  .userPhoneNumber {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.birth {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  .userBirth {
    width: 25rem;
    height: 2.5rem;
    margin-top: 0.625rem;
    margin-bottom: 1.875rem;
    &:focus {
      outline: none;
    }
  }
}

.footer {
  position: relative;
  font-size: 0.875rem;
  right: 1.25rem;
  margin-top: 1.25rem;

  .terms {
    margin-bottom: 0.625rem;
  }
  .agreeTerms {
    margin-bottom: 0.625rem;
  }
  .agreeTerms2 {
    margin-bottom: 0.625rem;
  }
  .agreeTerms3 {
    margin-bottom: 0.625rem;
  }
  input[type='checkbox'] {
    zoom: 1.2;
    accent-color: #fabf01;
  }
}

.signupBtn {
  margin-top: 1.875rem;
  .userSignUp {
    width: 25rem;
    height: 2.5rem;
    background: #fabf01;
    border: none;
    border-radius: 0.313rem;
  }
}

a {
  text-decoration: none;
  color: black;
}
