@import '../../../styles/variables.scss';

.bestReviewCarousel {
  padding: 32px 0;

  .bestReviewCarouselUl {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 206px;
      height: 535px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.66) 96%
      );
    }

    .bestReviewCarouselWarp {
      display: flex;

      .bestReviewItem {
        margin-right: 48px;

        .bestReviewImgBox {
          position: relative;
          width: 520px;
          height: 324px;
          overflow: hidden;

          .bestReviewBg {
            position: absolute;
            top: 0;
            left: 30px;
            width: 66px;
            height: 66px;
            background-color: rgba(250, 191, 1, 0.8);
            z-index: 50;

            .bestTag {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);
              color: #fff;
              font-weight: 700;
            }
          }

          .bestReviewImg {
            @include positionCenter;
          }
        }
      }
    }
  }

  .bestReviewTitle {
    margin: 10px 0;
    font-size: 32px;
    font-weight: 700;
  }

  .scopeWarp {
    .userId {
      line-height: 1.6;
    }
  }

  .bestReviewDesc {
    margin: 32px 0;
    font-size: 16px;
    color: $gray;
    line-height: 1.5;
  }
}
