@import '../../../../styles/variables.scss';

.productImages {
  .bigImage {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .smallImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
  }
}
