@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  @include primaryFont;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  border: 1px solid #cccccc;
  background-color: white;
  font-weight: bold;

  .navWarp {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 25%;
      margin-left: 15px;
      font-size: 35px;
      text-align: center;
      color: $subColor;

      .logoLink {
        color: inherit;
        text-decoration: none;

        img {
          width: 180px;
        }
      }
    }

    .pageMenu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 40%;
      font-size: 18px;

      ul {
        width: 450px;

        li {
          margin: 0 40px;
          .pageLink {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }

    .myMenu {
      width: 25%;
      ul {
        @include flexCenter;
        font-size: 15px;

        .myLink {
          margin-left: 60px;
          color: inherit;
          text-decoration: none;
          font-size: 18px;

          li {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: $mainColor;
            padding: 10px 15px;
            margin-left: 20px;
            margin-right: 50px;
            border-radius: 40px;
            cursor: pointer;

            &:hover {
              background-color: $mainDarkColor;
            }
          }
        }
      }
    }
    .logOutBtn {
      border: none;
      font-size: 15px;
      font-weight: 600;
      background-color: $mainColor;
      padding: 10px 15px;
      margin-left: 20px;
      margin-right: 50px;
      border-radius: 40px;
      cursor: pointer;

      &:hover {
        background-color: $mainDarkColor;
      }
    }
  }
}
