@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  position: fixed;
  width: 100%;
  height: 80px;
  border: 1px solid #cccccc;
  @include primaryFont;
  font-weight: bold;

  .logo {
    flex: 1.5;
    margin-left: 15px;
    color: $subColor;
    font-size: 35px;
    text-align: center;

    .logoLink {
      color: inherit;
      text-decoration: none;
    }
  }

  .pageMenu {
    flex: 5;
    @include flexCenter;
    font-size: 25px;

    li {
      margin: 0 40px;

      .pageLink {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .myMenu {
    flex: 1.5;

    ul {
      @include flexCenter;
      font-size: 25px;

      li {
        margin: 0 15px;

        .myLink {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
